@charset "UTF-8";

* {
    margin: 0;
}

:root {
    --cor01: rgb(228, 231, 247);
    --cor02: rgb(13, 71, 161);
    --cor03: rgb(117, 149, 194);
}


body {
    background-color: var(--cor01);
    margin-top: 0;
    min-height: 150px;
}

header {
    height: 10%;

}


main {
    padding-top: 30px;
    background: rgb(13, 71, 161);

}

nav {
    border: none;
    padding-bottom: 30px;

}

nav > a {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor01);
    color: var(--cor02);
}

div {
    padding-bottom: 20px;
}


#site {
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 40px;
}

#pokemon {
    font-size: 1.8em;
    height: auto;
    padding-top: 15px;
    padding-left: 20%;
    padding-right: 0%;
    padding-bottom: 15px;
    width: 65%;
    border-radius: 50px;
    height: 70%;
    margin-left: 40px;
    margin-top: 20px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    
}

.botao {
    height: 50px;  
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    cursor: pointer;
    border-radius: 10px;

  
}

#menu {
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    width: 65%;
    height: 40%;
    margin-left: 40px;
    margin-top: 20px;
    border: none;

}

#menu01 {
    height: auto;
    padding-left: 10%;
    padding-right: 10%;
    width: 65%;
    height: 40%;
    margin-left: 40px;
    margin-top: 0px;
    border: none;
    box-shadow: 1px 5px 15px 2px rgba(0, 0, 0, 0.281);
    border-top: var(--cor03) solid;

}

span {
    font-size: 0.7em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
    color: var(--cor02);
    font-size: 1.3em;
}

.container > div{
    background-color: rgb(255, 255, 255);
    margin: 10px;

}