<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Pokedex</title>
  </head>
  <body style="background-color: rgb(215, 212, 244);">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <!-- 
        <main>
            <nav>
                <div ><a class="go" href="#">Pokémon GO</a></div>
                <a  href="#">Pokémon</a>
                <a href="#">Guia</a>
                <a href="#">Curiosidades</a>
                <a href="#">Eventos</a>
            </nav>
        </main>

    -->
    <header>

    <a class="site" href="https://pokemongolive.com/" target="_blank">
      Pokémon GO
    </a>

    <nav>
      <div class="Submenu">
        <a href="">Pokémon</a>

        <a href="">Ferramentas</a>
        
        <a href="">Guias</a>

        <a href="">Eventos</a>

      </div>

      
      
    </nav>
    </header>

    <div class="container" id="app" >
      
    <div>
      <input
          class="input-busca"
          type="text"
          name="nome"
          id="pokemon"
          placeholder="Buscar um Pokemon"
          v-model="buscar"
          />
    </div>
    


    
        <div class="pokemon">
          <div v-for="pokemon in listaPokemon">
            <div class="card">
              <img class="card-img-top" src="images/Bulbasaur.png" alt="">
              <div class="card-body">
                <h5 class="card-title">{{pokemon.nome}}</h5>

                <span>
                  Elemento: {{pokemon.elemento}}<br />
                  Dano: {{pokemon.dano}}<br /><br />
                </span>

              </div>
            </div>
            <br />
            <!-- <img src="{{item.imagem}}" alt=""> -->
            <!-- <img v-bind:src="require('images/rails.png')" /> -->
           
          </div>
        </div>
    </div>

   <script>
      const { createApp } = Vue;
      

      createApp({
        data() {
          return {
            buscar: "",
            pokemons: [
              { nome: "Bulbasaur", elemento: "Planta", dano: "76" },
              { nome: "Ivysaur", elemento: "Planta", dano: "63" },
              { nome: "Venusaur", elemento: "Planta", dano: "76" },

              { nome: "Charmander", elemento: "Fogo", dano: "63" },
              { nome: "Charmeleon", elemento: "Fogo", dano: "76" },
              { nome: "Charizard", elemento: "Fogo", dano: "63" },

              { nome: "Squirtle", elemento: "Agua", dano: "76" },
              { nome: "Wartoryle", elemento: "Agua", dano: "63" },
              { nome: "Blastoise", elemento: "Agua", dano: "76" },

              
              
            ],
          };
        },
        computed: {
          listaPokemon () {
            return this.pokemons.filter((pokemon)=>{
              return pokemon.nome.toLowerCase().includes(this.buscar.toLowerCase());
            })
          }
        }
      }).mount("#app");

    </script>
  </body>
</html>